.wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: var(--light);
  box-shadow: 0 0 2px var(--dark);
  z-index: 10;
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.controls {
  display: flex;
  flex-direction: row;
}

.button {
  width: 24px;
  height: 36px;
  margin-left: 10px;
  padding: 6px 0;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.button:first-child {
  margin-left: 0;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--dark);
  transition: all .2s ease;
}

.active {
  fill: var(--red-dark);
}

.volume {
  position: relative;
}

.volume:hover>div {
  display: block;
}

@media (max-width: 1000px) {
  .volume {
    display: none;
  }
}

@media (max-width: 500px) {
  .inner {
    flex-direction: column;
    width: 95%;
    padding: 5px 0;
  }

  .controls {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .button {
    margin-left: 0;
  }
}