.soundBadge {
  display: flex;
  flex-direction: row;
  width: 256px;
  margin-left: 10px;
}

.cover {
  width: 32px;
  height: 32px;
  background: var(--gray-light) center no-repeat;
  background-size: cover;
}

.titleContextContainer {
  display: flex;
  flex-direction: column;
  width: 214px;
  margin-left: 10px;
}

.title {
  font-size: 14px;
  line-height: 17px;
  color: var(--dark);
}

.author {
  font-size: 12px;
  line-height: 15px;
  color: var(--gray-dark);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: normal;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .soundBadge {
    display: none;
  }
}