.errorMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 320px;
  height: 80px;
  position: absolute;
  right: -320px;
  top: 56px;
  padding: 0 2px;
  background-color: var(--light);
  border-left: 2px solid var(--danger);
  box-shadow: 0 0 2px var(--dark);
  fill: var(--danger);
  z-index: 10;
  transition: all .2s ease;
}

.icon {
  width: 48px;
  height: 48px;
}

.messageBox {
  width: 264px;
  margin-left: 2px;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark);
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: normal;
  white-space: nowrap;
}
