.wrapper {
  display: flex;
  flex-direction: row;
  margin: .8rem 0;
}

.item {
  margin-right: .8rem;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  color: var(--dark);
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: all .2s ease;
}

.item:last-child {
  margin-right: 0;
}

.item:hover {
  border-bottom-color: var(--dark);
}

.active {
  color: var(--red);
  border-bottom-color: var(--red) !important;
}