.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 640px;
  background-color: var(--light);
  box-shadow: 0 0 4px var(--dark);
  transition: all .2s ease;
}

.dragOver {
  outline: 2px dashed var(--gray-light);
  filter: brightness(.8);
}

.progressWrapper {
  width: 100%;
  height: 4px;
  background-color: transparent;
}

.progressBar {
  height: 100%;
  background-color: var(--red);
  transition: all .2s ease;
}

.title {
  margin: 1.6rem 0;
  padding: 0 .3rem;
  font-size: 1.6em;
  line-height: 1.6;
  font-weight: 400;
  text-align: center;
  color: var(--dark);
}

.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 .6rem;
}

.inputWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: .6rem;
}

.inputWrapper:last-child {
  margin-bottom: 0;
}

.file {
  height: 42px;
  padding: 10px 35px;
  font-size: 16px;
  line-height: 22px;
  color: var(--light);
  background-color: var(--red);
  border: 0;
  border-radius: 0;
  outline: 0;
  transition: all .2s ease;
}

.file:hover {
  background-color: var(--red-dark);
}

.file:disabled {
  opacity: .5;
}

.fileInput {
  width: 0;
  height: 0;
  position: absolute;
}

.note {
  margin: 1.6rem 0;
  font-size: .9rem;
  line-height: 1.6;
  text-align: center;
  color: var(--gray-dark);
}

.fileName {
  font-size: .8rem;
  line-height: 1.6;
  text-align: center;
  color: var(--dark);
}