.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 640px;
  padding: 1.4rem .6rem;
  background-color: var(--light);
  box-shadow: 0 0 4px var(--dark);
}

.title {
  margin-bottom: .9rem;
  font-size: 1.6rem;
  line-height: 1.3;
  color: var(--dark);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file {
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 18px;
  color: var(--light);
  background-color: var(--red);
  border: 0;
  border-radius: 0;
  outline: 0;
  transition: all .2s ease;
}

.file:hover {
  background-color: var(--red-dark);
}

.file:disabled {
  opacity: .5;
}

.fileInput {
  width: 0;
  height: 0;
  position: absolute;
}

.note {
  margin-top: .9rem;
  font-size: 1rem;
  line-height: 1.3;
  text-align: center;
  color: var(--gray-dark);
}

.filename {
  font-size: .9rem;
  line-height: 1.3;
  text-align: center;
  color: var(--dark);
}