.timeline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
  flex: 1;
}

.progressWrapper {
  display: flex;
  align-items: center;
  padding: 0 6px;
  height: 14px;
  flex: 1;
}

.progressBackground {
  width: 100%;
  height: 2px;
  background-color: var(--gray);
}

.progressBar {
  height: 100%;
  background-color: var(--red);
  transition: all .2s ease;
}

.timePassed, .duration {
  font-size: 14px;
  line-height: 16px;
  color: var(--dark);
}

@media (max-width: 640px) {
  .timeline {
    width: 100%;
  }
}