.app {
  display: flex;
  min-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}

.padding {
  padding-bottom: 36px;
}

@media (max-width: 540px) {
  .padding {
    padding-bottom: 92px;
  }
}