.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  align-self: flex-start;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.pagination>button {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  font-size: 16px;
  line-height: 24px;
  background: var(--light);
  border: 0;
  outline: 0;
  box-shadow: 0 0 4px var(--dark);
  cursor: pointer;
  transition: all .2s ease;
}

.pagination>button:last-child {
  margin-right: 0;
}

.pagination>button:hover {
  background: var(--red);
}