.forgot {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

.title {
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 48px;
  color: var(--light);
  text-shadow: 0 0 4px var(--dark);
}

.note {
  margin-bottom: 10px;
  text-align: center;
  color: var(--gray-light);
  text-shadow: 0 0 4px var(--dark);
}

.main {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}