.modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 320px;
  min-height: 80px;
  position: absolute;
  right: 0;
  top: 10%;
  padding: .4rem;
  background-color: var(--light);
  box-shadow: 0 0 2px var(--dark);
  z-index: 10;
}

.icon {
  width: 56px;
  height: 56px;
  fill: var(--danger);
}

.message {
  width: 264px;
  font-size: .9rem;
  line-height: 1.3;
  color: var(--dark);
}