.music {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: 1rem;
  background-color: var(--light);
  box-shadow: 0 0 4px var(--dark);
}

@media (max-width: 1280px) {
  .music {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .music {
    width: 90%;
  }
}

.head {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--dark);
  border-bottom: .1rem solid var(--dark);
}

.error {
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--danger);
}

.warn {
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--warning);
}