.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.container:last-child {
  margin-bottom: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.meta {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  color: var(--light);
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--gray-light);
  text-shadow: 0 0 4px var(--dark);
}

.author {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--gray-light);
  text-shadow: 0 0 4px var(--dark);
}

.avatar {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 0 4px var(--dark);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: var(--light);
  box-shadow: 0 0 4px var(--dark);
}

.content>p {
  margin-bottom: 24px;
  text-align: justify;
  color: var(--dark);
}

.content>p:last-child {
  margin-bottom: 0;
}

.image {
  max-width: 85%;
  max-height: 85%;
  background: var(--gray-light);
  border-radius: 2px;
  box-shadow: 0 0 4px var(--gray-light);
}