.wrapper {
  display: flex;
  justify-content: center;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 80%;
  padding: 12px 0;
}

.group {
  display: flex;
  align-items: center;
}

.logo {
  width: 48px;
  height: 48px;
  fill: var(--light);
  transition: fill .2s ease;
}

.logo:hover {
  fill: var(--red);
}

.nav {
  display: flex;
  margin-left: 12px;
}

.item {
  margin-left: 6px;
  padding: 8px 6px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: var(--light);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all .2s ease;
}

.item:first-child {
  margin-left: 0;
}

.item.active {
  border-bottom-color: var(--red);
}

.item:hover {
  color: var(--red);
}

.mobileNavToggle {
  width: 36px;
  height: 36px;
  padding: 0;
  background: transparent;
  border: 0;
  outline: 0;
  fill: var(--light);
  cursor: pointer;
  transition: fill .2s ease;
}

.mobileNavToggle:hover {
  fill: var(--red);
}

@media (max-width: 500px) {
  .nav {
    display: none;
  }

  .login {
    display: none;
  }
}

@media (min-width: 501px) {
  .mobileNavToggle {
    display: none;
  }
}