.upload {
  margin-bottom: 16px;
}

.upload:last-child {
  margin-bottom: 0;
}

.filename {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--gray-dark);
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: normal;
  white-space: nowrap;
}

.body {
  display: flex;
  flex-direction: column;
}

.progress {
  height: 3px;
  background: var(--gray-light);
}

.passed {
  height: 100%;
  background: var(--red);
  transition: all .2s ease;
}