.player {
  background-color: var(--light);
  box-shadow: 0 0 2px var(--dark);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.controls {
  display: flex;
  flex-direction: row;
}

.control {
  width: 24px;
  height: 36px;
  margin-left: 10px;
  padding: 6px 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.control:first-child {
  margin-left: 0;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--dark);
  transition: all .2s ease;
}

.volume {
  position: relative;
}

.volumeWrapper {
  display: none;
  width: 24px;
  height: 104px;
  position: absolute;
  bottom: 36px;
  padding: 2px 0;
  background-color: var(--light);
  box-shadow: 0 0 2px var(--dark);
  cursor: pointer;
  z-index: 1;
}

.volume:hover .volumeWrapper {
  display: block;
}

.volumeSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  position: relative;
}

.volumeBackground {
  width: 2px;
  height: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--gray);
}

.volumeBar {
  width: 2px;
  position: absolute;
  bottom: 0;
  background-color: var(--red);
  transition: all .25s;
}

@media (max-width: 1280px) {
  .wrapper {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .wrapper {
    flex-direction: column;
    width: 95%;
  }

  .controls {
    width: 100%;
    justify-content: space-around;
  }

  .control {
    margin-left: 0;
  }

  .volume {
    display: none;
  }
}