.playControls {
  background-color: var(--light);
  box-shadow: 0 0 4px var(--dark);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.controls {
  display: flex;
  flex-direction: row;
}

.control {
  margin-left: .5rem;
  padding: .5rem 0;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.control:first-child {
  margin-left: 0;
}

.controlIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--dark);
  transition: all .2s ease;
}

.control:hover .controlIcon {
  fill: var(--red-dark);
}

.volume {
  position: relative;
}

.volume:hover .volumeWrapper {
  display: flex;
}

.volumeWrapper {
  box-sizing: border-box;
  display: none;
  position: absolute;
  bottom: 2.5rem;
  right: 0;
  flex-direction: row;
  justify-content: center;
  width: 1.5rem;
  height: 6rem;
  padding: .2rem;
  background-color: var(--light);
  box-shadow: 0 0 4px var(--dark);
  cursor: pointer;
  z-index: 2;
}

.volumeBackground {
  width: 3px;
  background-color: var(--dark);
  height: 100%;
}

.volumeBar {
  width: 100%;
  background-color: var(--red-dark);
  transition: all .25s;
}