.input, .button {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  outline: 0;
  border-radius: 0;
  box-shadow: 0 0 2px transparent;
  transition: all .2s ease;
}

.input {
  padding: 4px 5px;
  background: var(--light);
  color: var(--dark);
  border: 1px solid var(--gray);
}

.input:focus {
  border-color: var(--red);
  box-shadow: 0 0 2px var(--red);
}

.button {
  padding: 5px 10px;
  background: var(--red);
  color: var(--light);
  border: 0;
  cursor: pointer;
}

.button:hover {
  background: var(--red-dark);
  box-shadow: 0 0 2px var(--red);
}