.section {
  display: flex;
  flex-direction: column;
}

.section.margin {
  margin-bottom: 36px;
}

.wrapper {
  margin-top: 48px;
}

.searchForm {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 24px auto;
  box-shadow: 0 0 4px var(--dark);
}

.input {
  padding: 4px 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background: var(--light);
  color: var(--dark);
  border: 1px solid var(--gray);
  border-radius: 0;
  outline: 0;
  flex: 1;
}

.input:focus {
  border-color: var(--red);
  box-shadow: 0 0 2px var(--red)
}

.submit {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background: var(--red);
  color: var(--light);
  border: 0;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  transition: all .2s ease;
}

.submit:hover {
  background: var(--red-dark);
  box-shadow: 0 0 2px var(--red);
}

.songs {
  padding: 8px;
  background: var(--light);
  box-shadow: 0 0 4px var(--dark);
}

.message {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark);
}

@media (max-width: 540px) {
  .section.margin {
    margin-bottom: 92px;
  }
}