.subnav {
  display: flex;
}

.link {
  margin-left: 6px;
  padding: 8px 6px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  text-shadow: 0 0 4px var(--dark);
  transition: all .2s ease;
}

.link:hover {
  color: var(--red);
}

.link:first-child {
  margin-left: 0;
}

.link.active {
  border-bottom-color: var(--red);
}