.status {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

@media (max-width: 640px) {
  .status {
    width: 90%;
  }
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--light);
  text-shadow: 0 0 4px var(--dark);
}

.body {
  display: flex;
  flex-direction: column;
}

.item {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--light);
}